<h1>Editing credit card charge</h1>

<%= render "form", credit_card_charge: @credit_card_charge %>

<br>

<div>
  <%= link_to "Show this credit card charge", @credit_card_charge %> |
  <%= link_to "Back to credit card charges", credit_card_charges_path %>
</div>
